.icon-menu {
  @extend .icon-reorder;
  @extend .icon2;
}

.icon-logo {
  @extend .icon-bar-chart;
  color: #428bca;
  font-size: 30px;
}

.app-nav-bar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-inverse;
  @extend .avbar-fixed-top;

  .app-navbar-brand {
    @extend .navbar-brand;
    padding: .5em 1em 0em;
    font-weight: bold;
  }

  .app-navbar-toggle {
    @extend .navbar-toggle;
    &:after {
      @extend .sr-only;
      content: 'Toggle navigation';
    }
    color: #999;
    &:hover { color: #eee !important; }
  }

  .app-navbar-menu {
    @extend .collapse; 
    @extend .navbar-collapse;
    ul {
      @extend .nav;
      @extend .navbar-nav;
    }
  }
}

.container {
  table {
    @extend .table;
    @extend .table-striped;
    width: auto;
  }

  .app-btns {
    @extend .btn-group;
    @extend .btn-group-xs;
    @extend .btn-group-xs;
  }

  .btn {
    @extend .btn-default;
  }

  .btn-add {
    @extend .btn;
    @extend .btn-primary;
    float: right;
  }

  input {
    width: 100%;
  }

  .subtitle {
    font-size: 8pt;
  }
}

.lhd-metrics {
  width: 65em;

  .lm-lhd {
    width: 7em;
  }

  .lm-metric {
    width: 24em;
  }

  .lm-value {
    width: 6em;
  }

  .lm-percentage {
    width: 6em;
  }

  .row-actions {
    width: 8em;
  }
}

.metric-menu {
  text-align: center;
  li {
    @extend .btn;
    margin: 2px;

    &.selected {
      @extend .btn-primary;
    }
  }
}


.editing td {
  background-color: #abe !important;
}
.error td {
  background-color: #daa !important;
}

body {
    font: 14px sans-serif;
}

.chart {
  margin-bottom: 20px;

  .bar-back {
    height: 16px;
    margin: 5px;
    box-shadow: 2px 2px 2px $grey;
    width: 80%;
    position: relative;

    .bar-label {
      height: 16px;
      width: 80px;
      left: 100%;
      padding: 0px 2px;
      margin-left: 12px;
      position: absolute;

      background-color: $blue;
      color: #fff;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 1px #444;
      cursor: pointer;
      line-height: 16px;

      &:before {
        content: ' ';
        
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid $blue;
        left: -7px;
        position: absolute;
      }

      &:after {
        content: ' ';
        
        border-top: 8px solid $blue;
        border-bottom: 8px solid $blue;
        border-right: 8px solid transparent;
        left: 100%;
        position: absolute;
      }

      &.selected {
        &:before {
          border-right: 8px solid $light-blue;
        }

        &:after {
          border-top: 8px solid $light-blue;
          border-bottom: 8px solid $light-blue;
        }

        color: $green-blue;
        background-color: $light-blue;
        border-color: #bce8f1;
      }
    }

    .half-back {
      width: 50%;
      display: inline-block;

      .bar {
        background-color: $blue;
        color: #fff;
        font-size: 12px;
        text-shadow: 1px 1px #444;
        height: 16px;
        padding: 0 2px;
        white-space: nowrap;
        line-height: 16px;
      }
    }
  }
}

.panel-info {
  @extend .panel;

  .heading {
    @extend .panel-heading;

    text-align: center;
    font-size: 12pt;
    font-weight: bold;
  }

  .body {
    @extend .panel-body;
  }
}

.map-item {
  fill: $blue;
  stroke-width:3.75;
  stroke-miterlimit:4;
  stroke-dasharray:none;

  &.selected {
    fill: #bce8f1;
    stroke: $green-blue;
  }

  &.disabled {
    fill: $grey;
  }
}

.map-zoom {
  fill:  #e6e6e6;
  stroke-opacity:  1;
}